# Godot 4+
.godot/

# binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# build
__pycache__
build/
export/

addons/godot-midi/bin

# to let the c++ linter read godot-cpp properly
# scons compiledb=yes compile_commands.json
compile_commands.json
.cache/

# project
.import
export_presets.cfg