# Godot 4+
.godot/

# binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# build
__pycache__
build/
export/

addons/godot-midi/bin

# project
*.sf2
*.sf2.uid
export_presets.cfg
